<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Pokemon Stats</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img class='pokemon-go-logo' src="/images/pokemon_go_logo.png">
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/heat-map/<%= @pokemons.first[:id] %>">Mapa de calor</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default text-center">
            <div class="panel-body">
              <h3>Pokemones vistos: <%= @pokemons.count %></h3>
              <div class="pokemons-more-see row">
                <h3>Pokemones mas vistos</h3>
                <% @sorted_pokemons[0..9].each_with_index do |pokemon, index| %>
                  <div class="col-md-1 <%= "col-md-offset-1" if index == 0 %>">
                    <img class="pokemon-avatar" src="/images/avatars/<%= pokemon[:id] %>.png">
                    <br />
                    <b>(<%= pokemon[:count]%>)</b>
                  </div>
                <% end %>
              </div>
              
              <div class="pokemons-less-see row">
                <h3>Pokemones menos vistos</h3>
                <% @sorted_pokemons.reverse[0..9].each_with_index do |pokemon, index| %>
                  <div class="col-md-1 <%= "col-md-offset-1" if index == 0 %>">
                    <img class="pokemon-avatar" src="/images/avatars/<%= pokemon[:id] %>.png">
                    <br />
                    <b>(<%= pokemon[:count]%>)</b>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% @pokemons.each_with_index do |pokemon, index| %>
          <div class="col-md-3">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h3 class="panel-title"><%= pokemon[:name].capitalize %></h3>
              </div>
              <div class="panel-body">
                <a href="/heat-map/<%= pokemon[:id]%>">
                  <img class="pokemon-avatar" src="/images/avatars/<%= pokemon[:id] %>.png">
                </a>
                <br />
                <%= pokemon[:count] %> veces visto.
                <br />
                Probabilidad de encontrarlo: <%= pokemon[:chance] %> %
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  </body>
</html>